@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

@import url(./styles/navigation.css);
@import url(./styles/forms.css);
@import url(./styles/dashboard.css);
@import url(./styles/details.css);
@import url(./styles/welcome.css);
@import url(./styles/footer.css);

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Inter;
    background: #2c2929;
}