.welcome-page {
    text-align: center;
    color: rgb(17, 17, 17);
    height: 50em;
    background: url(../images/karting-track.jpg);
    background-size: cover;
}


.welcome-page h1 {
    padding-top: 200px;
    padding-bottom: 50px;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.welcome-page h2 {
    padding-bottom: 30px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.empty {
    text-align: center;
    font-size: 30px;
}